@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    line-height: 1.5;
    font-size: 0.875rem;
}

a {
    text-decoration: none; 
    color: #102a42;
    font-weight: 600; 
}

a:hover {
    color: #49a6e9;
}

.nav-name {
    color: #49a6e9;
    letter-spacing: 4px;
}

.color-name {
    color: #49a6e9;
}

.nav-items {
    background-color: #f1f5f8;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.item {
   font-size: 15px;
   line-height: 16px;
   padding: 12px 0px;
   letter-spacing: 4px;
}

.link {
    background-color: #f1f5f8;
    color: #222222;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    padding: 0.37rem 0.7rem;
    border-radius: 8px;
}

.link:hover {
    background-color: #222222;
    color: #f1f5f8;
    transition: all 0.5s ease;
}

.active-link {
    background-color: #49a6e9;
}


.main-section{
    /* width: 100%; */
    background-color: #f1f5f8;
    min-height: calc(100vh - 3rem);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 .bg-text {
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 30px;
    border-radius: 8px;
    margin-bottom: 40px;
    line-height: 40px;
    letter-spacing: 4px;
    box-shadow: none;
 }

 .btn {
    text-transform: uppercase;
    background: transparent;
    display: inline-block;
    border: 2px solid #222222;
    text-align: center;
    letter-spacing: 0.25rem;
    font-weight: 700;
    font-size: 0.875rem;
    padding: 0.7rem;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
 }

 .btn:hover {
    background-color: #222222;
    color: #f1f5f8;
    transition: all 0.5s ease;
 }


